mjml
  mj-body
    mj-container
      mj-section(font-family="helvetica")
        mj-column
          mj-text(font-size="28px") #{subject}
          mj-divider(border-color="#d3d")
          mj-text Forgot your password?
          mj-text We've received a request to reset the password for this email address.
          mj-text To reset your password click on the following button:
          mj-button(href=link background-color="#d3d" color="white").
            Reset my password
          mj-text This link takes you to a secure page where you can change your password.
